In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('mgasoil.txt', sep=' ')
df

     year  mon   Greg   hoil     oilp  gasp
0    1993   11  1.066  0.502   16.699  2.32
1    1993   12  1.014  0.435   14.510  2.09
2    1994    1  0.998  0.499   15.000  2.41
3    1994    2  1.009  0.557   14.780  2.59
4    1994    3  1.008  0.492   14.660  2.08
..    ...  ...    ...    ...      ...   ...
221  2012    4  3.837  3.150  103.330  1.95
222  2012    5  3.643  2.913   94.700  2.43
223  2012    6  3.465  2.619   82.410  2.46
224  2012    7  3.379  2.813   87.930  2.96
225  2012    8  3.668  3.045   94.160  2.84

[226 rows x 6 columns]

In [4]:
df['Date'] = df['year'].astype(str)+' /'+df['mon'].astype(str)

In [5]:
df_new = df[['Date', 'Greg','hoil','oilp','gasp']]
df_new

         Date   Greg   hoil     oilp  gasp
0    1993 /11  1.066  0.502   16.699  2.32
1    1993 /12  1.014  0.435   14.510  2.09
2     1994 /1  0.998  0.499   15.000  2.41
3     1994 /2  1.009  0.557   14.780  2.59
4     1994 /3  1.008  0.492   14.660  2.08
..        ...    ...    ...      ...   ...
221   2012 /4  3.837  3.150  103.330  1.95
222   2012 /5  3.643  2.913   94.700  2.43
223   2012 /6  3.465  2.619   82.410  2.46
224   2012 /7  3.379  2.813   87.930  2.96
225   2012 /8  3.668  3.045   94.160  2.84

[226 rows x 5 columns]

In [6]:
x = df_new[['oilp','gasp']]
y = df_new['hoil']

In [7]:
train_size = int(len(x)*0.8)
test_size_x = len(x) - train_size
train_data_x = x[:train_size]
test_data_x =  x[train_size:]
print(train_data_x.shape)
print(test_data_x.shape)

(180, 2)
(46, 2)

In [8]:
train_size = int(len(y)*0.8)
test_size_y = len(y) - train_size
train_data_y = y[:train_size]
test_data_y =  y[train_size:]
test_data_y.shape

(46,)

In [9]:
linear_regression_model = LinearRegression()

In [10]:
linear_regression_model.fit(train_data_x,train_data_y)

LinearRegression()

In [11]:
y_predict = linear_regression_model.predict(test_data_x)
y_predict.shape

(46,)

In [12]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(test_data_y,y_predict)

rmse = np.sqrt(mse)
rmse

0.27308395448875944